* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cdcdcd;
}
.nav {
    width: 22rem;
    height: 4rem;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 24px;
}
.nav li {
    list-style: none;
    cursor: pointer;
    width: 45px;
}
.nav li img {
    width: 100%;
    cursor: pointer;
    position: relative;
    top: 0;
    transition: 1s;
}
.nav li:hover img {
    position: relative;
    top: -36px;
    background: white;
    border-radius: 50%;
}

.nav li:nth-child(2){
    width: 60px;
}
.nav li:nth-child(3){
    width: 72px;
}
.nav li:nth-child(4){
    width: 47px;
}
.nav li:nth-child(5){
    width: 55px;
}